In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import requests
import json

# API Key
from config import gkey

In [2]:
# Import cities info from csv
cities_df = pd.read_csv("../Resources/KC Metro Cities_Lat_Lng.csv")
cities_df.head()

              Cities     State  Latitude  Longitude
0           Avondale  Missouri   39.1542   -94.5469
1            Basehor    Kansas   39.1417   -94.9386
2             Belton  Missouri   38.8120   -94.5319
3       Blue Springs  Missouri   39.0170   -94.2816
4  Excelsior Springs  Missouri   39.3392   -94.2261

In [3]:
# add columns for restaurant name, restaurant address, rating
cities_df["Restaurant Name"]=""
cities_df["Restaurant Address"]=""
cities_df["Restaurant Rating"]=""
cities_df.head()

,Cities,State,Latitude,Longitude,Restaurant Name,Restaurant Address,Restaurant Rating
0,Avondale,Missouri,39.1542,-94.5469,,,
1,Basehor,Kansas,39.1417,-94.9386,,,
2,Belton,Missouri,38.8120,-94.5319,,,
3,Blue Springs,Missouri,39.0170,-94.2816,,,
4,Excelsior Springs,Missouri,39.3392,-94.2261,,,

In [10]:
# params dictinoary to updte each iteration
params = {
    "radius": 15000,
    "types": "restaurant",
    "keyword": "chinese",
    "key": gkey
}

# use latitude/longitude to identify chinese retaurants
for index, row in cities_df.iterrows():
#     get lat/lon from df
    lat = row["Latitude"]
    lon = row["Longitude"]
    
#     change location each iteration while 
#     leaving original params in place
    params["location"] = f"{lat},{lon}"
    
#     use the serach term "Chines Restaurant" and lat/lon
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     make request and print url
    restaurant_address = requests.get(base_url, params=params)
    
#     print(restaurant_address.url)

#     convert to json
    restaurant_address = restaurant_address.json()
#     print(json.dumps(restaurant_address, indent=4, sort_keys=True))

#     since some data may be missing, use try/except to skip any missing
#     data point
    try:
        cities_df.loc[index, "Restaurant Name"] = restaurant_address["results"][0]["name"]
        cities_df.loc[index, "Restaurant Address"] = restaurant_address["results"][0]["vicinity"]
        cities_df.loc[index, "Restaurant Rating"] = restaurant_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [11]:
cities_df.head()

,Cities,State,Latitude,Longitude,Restaurant Name,Restaurant Address,Restaurant Rating
0,Avondale,Missouri,39.1542,-94.5469,KIN LIN,"314 E 51st St, Kansas City",3.9
1,Basehor,Kansas,39.1417,-94.9386,Chinese Buffet,"7914 State Ave, Kansas City",3.9
2,Belton,Missouri,38.8120,-94.5319,Chinese Palace Restaurant,"10136 W 119th St, Overland Park",4.2
3,Blue Springs,Missouri,39.0170,-94.2816,Lao Peking Chinese Restaurant,"1020 S Sterling Ave A, Independence",3.9
4,Excelsior Springs,Missouri,39.3392,-94.2261,Hunan Restaurant,"1101 N Jesse James Rd, Excelsior Springs",4.3